/* Here is the basic formatting of my website  */
html {
    background-color: #2d304b;
}

/*Here is the Nav Menu formatting*/
#nav_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding-left: 3em;
    padding-right: 3em;
    justify-content: space-evenly;
    text-decoration: none;
    background-color: #e3e5f3;
    color: rgb(187, 81, 40);
    border: 2px solid rgb(96, 100, 165);
    border-radius: 100px;
    margin-bottom: 3%;
}

#nav_menu ul li a:hover {
    /*Formatting for when you hover over each navigation menu textbox.*/
    background-color: rgb(187, 81, 40);
    color: rgb(227, 229, 243);
    border: none;
    box-shadow: 0 0 2em rgb(187, 81, 40, 1);
}

nav {
    text-align: center;
    font-size: large;
    background-color: rgb(238, 178, 154);
    margin: 0 -20em 0 -20em;
    border-bottom: 3px solid rgb(96, 100, 165);
    border-top: 3px solid rgb(96, 100, 165);
}

/* Here is the rest of my website's formatting. */
.title {
    /*Some simple formatting for the page's title.*/
    text-align: center;
}

body {
    /*Here is the Google Font*/
    font-family: "Lilita One", sans-serif;
    color: rgb(54, 58, 103);
}

main {
    /*Some formatting for everything but the navigation menu.*/
    display: flex;
    flex-direction: row;
    border: none !important;
}

div {
    /*Formatting for each section with a cat image and information.*/
    justify-content: space-evenly;
    margin: 2%;
}

p {
    /*Contains formatting for each section's title and unordered list.*/
    text-align: center;
    font-size: x-large;
}

img {
    /*Some basic image formatting*/
    border-radius: 10px;
    border: 3px solid rgb(187, 81, 40);
    background-color: rgb(238, 178, 154);
    padding: 1%;
    margin: 12% 40% 5% 12%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
}

/*Image stylings*/
.catImages {
    background-color: rgb(227, 229, 243);
    border-radius: 15px;
    border: 3px solid rgb(96, 100, 165);
    padding: 15px;
}

/*All of this page's Media Queries*/
@media only screen and (max-width: 920px) {

    #nav_menu ul li a {
        padding-left: 1em;
        padding-right: 1em;
    }

}

@media only screen and (max-width: 1020px) {

    #nav_menu ul li a {
        padding-left: 1em;
        padding-right: 1em;
    }
}

@media only screen and (max-width: 750px) {
    h1 {
        font-size: large;
    }

    div {
        font-size: medium;
    }

    p {
        font-size: large;
    }
}

@media only screen and (max-width: 670px) {

    #nav_menu ul li a {
        padding-left: .25em;
        padding-right: .25em;
    }

    div {
        font-size: small;
    }

    p {
        font-size: medium;
    }
}

@media only screen and (max-width: 600px) {

    #nav_menu ul li a {
        padding-left: .25em;
        padding-right: .25em;
    }

    div {
        font-size: x-small;
    }

    p {
        font-size: small;
    }
}