body {
    text-align: center;
    font-family: "Fontdiner Swanky", serif;
    font-size: medium;
    color: rgb(253, 184, 253);
    background-color: #2d304b;
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding-left: 3em;
    padding-right: 3em;
    justify-content: space-evenly;
    text-decoration: none;
    background-color:#404147;
    color:  rgb(253, 184, 253);
    border: 2px solid rgb(155, 160, 239);
    border-radius: 100px;

}

nav {
    text-align: center;
}

/*Page Built with Grid Layout*/
main {
    display: grid;
    grid-template: repeat(3, 25%)/repeat(3, 16%);
    grid-gap: 15px 20px;
    grid-row-gap: 30%;
    justify-content: space-evenly;
}

img {
    width: 100%;
    border-radius: 15px;
    border: solid;
    border-color: rgb(155, 160, 239);
    border-width: 3px;
}

footer {
    height: 40px;
    align-items: center;
    justify-items: center;
}

/*Media Queries*/
@media only screen and (max-width: 920px) {

    #nav_menu ul li a{
        padding-left: 1em;
        padding-right: 1em;
    } 
}