/*Here are some formatting aspects I want for the whole webpage*/

html{
    color: rgb(253, 184, 253);
}

body {
    background-image: url("Pictures/BackGround.jpeg");
    background-size: 110%;
    font-family: "Fontdiner Swanky", serif;
}

#nav_menu ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style-type: none;
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    padding-left: 3em;
    padding-right: 3em;
    justify-content: space-evenly;
    text-decoration: none;
    background-color: #404147;
    color: rgb(253, 184, 253);
    border: 2px solid rgb(155, 160, 239);
    border-radius: 100px;
}

nav {
    text-align: center;
    font-size: large;
}

/*Here are some formatting things I want for certain sections individually*/
h1{ 
    text-align: center;
    margin-top: 3%;
    color: rgb(253, 184, 253);
    background-color: #404147;
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 15px;
    border: solid;
    border-color: rgb(155, 160, 239);
    border-width: 3px;
}

main{
    display: flex;
    flex-direction: row;
    color: rgb(253, 184, 253);
}

div{
    justify-content: space-evenly;
    text-align: center;
    padding: 1%;
    margin: 1%;
    color: rgb(253, 184, 253);
    background-color: #404147;
    border-radius: 15px;
    border: solid;
    border-color: rgb(155, 160, 239);
    border-width: 3px;
}


img {
    width: 50%;
    border-radius: 15px;
    border: solid;
    border-color: rgb(130, 119, 95);
    border-width: 3px;
}

/*Media Queries*/
@media only screen and (max-width: 920px) {

    #nav_menu ul li a{
        padding-left: 1em;
        padding-right: 1em;
    } 

    h1{
        padding: 2%;
    }
    header{
        justify-content: space-between;
        display: flex;
        flex-direction: row;

    }
}