/* Here is the basic formatting of my website  */
#html {
    text-align: center;
    color: rgb(224, 28, 224);
    background-color: rgb(155, 160, 239);
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 10px;
    background-image: linear-gradient( 
        45deg, rgb(239, 139, 230) 10%, rgb(155, 160, 239) 40%, rgb(107, 206, 162) 100%
    );
}

/* Here is the scalable image of my cat Elise */
#elise {
    width: 100%;
}

/* Here is the navigation menu CSS */
#nav_menu ul {list-style-type: none }
#nav_menu ul li a{
    text-align: center;
    display:block;
    width 20%;
    padding 10%;
    text-decoration: none;
    background-color: rgb(155, 160, 239);
    color: rgb(224, 28, 224);
    font-weight: bold;
    border: 2px solid rgb(107, 206, 162);
}

/* Here is the section with the cat images */
article {
    background-color: blanchedalmond;
    border-radius: 10px;
    column-count: 3;
    column-gap: 5%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "papyrus";
    font-weight: 560;
    border: 3px solid rgb(130, 119, 95);
}

/* Here is some extra minor formatting things */
body {
    font-family: "papyrus";
    font-weight: 400;
    background: rgb(151, 237, 218)
}

.catpic {
    border-radius: 10px;
}

div{
    text-align: center;
}

#text {
    font-weight: 900;
}

main#wikilink a:hover {
    font-size: 300%;
}

/*Here is the section with the wikipedia link that loads onto another tab.*/
#cabbage {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient( 
        45deg, rgb(239, 139, 230) 10%, rgb(155, 160, 239) 40%, rgb(107, 206, 162) 100%
    );
}

/* Here is the section with the link to another website of mine, contain more cat pictures.*/
#catinfo {
    text-align: center;
    background-color: blanchedalmond;
    border: 3px solid rgb(130, 119, 95);
    margin-left: 40%;
    margin-right: 40%;
    border-radius: 4px;
}

/*Here is just the formatting stuff for my footer.*/
footer {
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    border-radius: 5px;
    background-image: linear-gradient( 
        45deg, rgb(239, 139, 230) 10%, rgb(155, 160, 239) 40%, rgb(107, 206, 162) 100%
    );
}