
ul>li {
    font-weight:700;
    font-family: 'papyrus'
}

body {
    background-color: rgb(243, 223, 192);
    color: rgb(30, 30, 104);
}

#text {
    font-weight: 900;
}

main#wikilink a:hover {
    font-size: 300%;
}